body {
    background-color: black;
}

h1 {
    color: black;
    text-align: center;
}

div#text {
    font-size: larger;
    text-align: center;
    margin: 50px;
}

a.navbar-brand{
    font-size: 28px;
    font-weight: bold;
}

div.card-deck {
    margin: auto;
}


/* -----------------------
--- ITINERARY TIMELINE ---
--------------------------*/

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
img.round {
    border-radius: 8px;
}
h5, h6.subtitle{
    color: #22c0e8;
}